/*********************************通用样式********************************************/
body{
    color: #000;
    font-family: SourceHanSansSC-Normal;
    overflow-x: scroll;
}
a{
    color: #999;
}
a:hover{
    text-decoration: none;
}

ul,ol{
    list-style: none;
}

/*********************************头部导航栏样式********************************************/
#head{
    min-width: 1000px;
    position: fixed;
    z-index: 999;
    top: 0;
    margin-top: 0;
    width: 100%;
  
}
#head .hr_head{
    background:#000 !important;   
}
#head  .navbar{
    background-color: #000;  
}
#head  img{
    width: 75px;
    height: 61px;
}

#head .logo{
    margin-left: -1.5rem;
    margin-top: 1.5rem;
    float:right;
}

#head .logo p{
    line-height: 0.5rem;
    text-align: center;
    font-family: SourceHanSansSC-Medium;
    color: #fff;
    
}

#head .logo p:first-child{
    font-size: 28px;
}
#head .logo p:last-child{
    font-size: 18px;
}

#head .bg-light{
    background-color: #000;
}

.navbar-nav .nav-item .nav-link{
     color: #fff;
     font-size: 20px;
     border-bottom: #007bff;
}
.navbar-nav .nav-item .hr-link{
   color: #007bff;
   border-bottom: 2px solid #007bff;
}

.navbar-nav .nav-item .nav-link:hover{
    color: #007bff;   
}

/*********************************头部样式********************************************/
.header .top{
    background:  url(../img/catalog-four.png) no-repeat center;
    background-size:cover;
    width: 100%;
    height: 400px;
    min-width: 2600px;
    margin-top: 88px;
}

.header .top .container p:nth-child(1){
   color: #fff;
   font-family: SourceHanSansSC-Medium;
    font-size: 60px;
    text-align: center;
    padding-top: 138px;
}
.header .top .container p:nth-child(2){
    color: #fff;
    font-family: SourceHanSansSC-Medium;
    font-size: 30px;
    text-align: center;
    width: 1220px;
 }
/*********************************主体内容样式********************************************/
 .content {
    background:  url(../img/pedestrian-crossing-warning-footer.png) no-repeat center;
    background-size:cover;
    width: 100%;
    height: 1750px;
    min-width: 2600px;
    margin-top: -17px;
 }

 .content .container p:nth-child(1){
    font-family: SourceHanSansSC-Medium;
    font-size: 30px;
    color: #fff;
    padding-top: 100px;
 }
 .content .container p:nth-child(2){
    font-family: SourceHanSansSC-Regular;
	font-size: 25px;
    color: #fff;
    line-height: 40px;
    text-indent: 2rem;
 }
 .content .container p:nth-child(3){
    font-family: SourceHanSansSC-Medium;
    font-size: 30px;
    color: #fff;
    
 }
 .content .container ul:nth-child(4){
    font-family: SourceHanSansSC-Regular;
	font-size: 25px;
    color: #fff;
    line-height: 40px;
    text-indent: 2rem;
 }
 .content .container p:nth-child(5){
    font-family: SourceHanSansSC-Medium;
    font-size: 30px;
    color: #fff;
    
 }

 .content .container ul:nth-child(6){
    font-family: SourceHanSansSC-Regular;
	font-size: 25px;
    color: #fff;
    line-height: 45px;
    text-indent: 2rem;
 }

 .content .container p:nth-child(7){
    font-family: SourceHanSansSC-Medium;
    font-size: 30px;
    color: #fff;
    
 }

 .content .container ul:nth-child(8){
    font-family: SourceHanSansSC-Regular;
	font-size: 25px;
    color: #fff;
    line-height: 45px;
    text-indent: 2rem;
 }

/*********************************底部导航栏样式********************************************/
#bottom{
    background: #fff;
    margin-top: -17px;
    min-width: 2500px;
}

#bottom hr{
    border: 1px solid #eee;
}

/* #bottom .top ul{
    display: flex;
    width: 1248px;
    margin: 0 auto;
    justify-content: space-around;
    font-family: SourceHanSansCN-Medium;
    font-size: 20px;
    margin-top: 30px;
} */
#bottom .bottom ul p{
    font-family: SourceHanSansCN-Medium;
    font-size: 20px;
    color: #000;
    position: absolute;
    margin-top: -40px;
    width: 200px;
}

#bottom .bottom{
    display: flex;
    margin: 0 auto;
    margin-left: -300px;
    width: 2000px;
    justify-content: space-around;
    line-height: 30px;
    margin-top: 70px;
    font-family: SourceHanSansCN-Normal;
    font-size: 14px;
    color: #999;
}

#bottom .record{
    font-family: SourceHanSansCN-Normal;
    font-size: 12px;
    color: #999;
    width: 386px;
    margin: 0 auto;
    margin-top: 67px;
    text-align: center;
    line-height: 5px;

}